In [42]:
import sys
import os
import json
import pandas as pd
sys.path.append(os.path.abspath('../'))

from src.utils import keep_highest_accuracy, calculate_ranks_multi

In [43]:
results_location = '../data/results'

In [44]:
def highlight_max_in_row(row):
    # if we're in the last 3 rows â†’ return no styling
    
    styles = [''] * len(row)
    numeric_part = row.iloc[1:]          # skip first column
    max_val = numeric_part.max()
    
    # highlight all equal max values
    for i, val in enumerate(numeric_part, start=1):
        if val == max_val:
            styles[i] = 'background-color: yellow;'
    return styles

In [ ]:
df_filtered = keep_highest_accuracy(f'{results_location}/clutad_balanced_results.json',
                     f'{results_location}/clutad_balanced_results_filtered.json')

clutad_df = pd.read_csv(f'{results_location}/balanced_clustering_accuracies.csv')
clutad_df[["kmeans", "gmm"]] = clutad_df[["kmeans", "gmm"]].round(3)
df_filtered.rename(columns={"accuracy": "CluTaD", "dataset_index": "dataset"}, inplace=True)
df_merged = clutad_df.merge(df_filtered[["CluTaD", "dataset"]], on="dataset", how="left")

output_path = f"{results_location}/balanced_acc_results.json"
df_merged.to_json(output_path, orient="records", indent=2)

In [52]:
df_merged.style.apply(highlight_max_in_row, axis=1)

In [ ]:
clutad_df_ari = pd.read_csv(f'{results_location}/balanced_clustering_ari.csv')
clutad_df_ari[["kmeans", "gmm"]] = clutad_df_ari[["kmeans", "gmm"]].round(3)
df_merged_ari = clutad_df_ari.merge(df_filtered[["ari", "dataset"]], on="dataset", how="left")
df_merged_ari.rename(columns={"ari": "CluTaD"}, inplace=True)

output_path_ari = f"{results_location}/balanced_ari_results.json"
df_merged_ari.to_json(output_path_ari, orient="records", indent=2)

In [53]:
df_merged_ari.style.apply(highlight_max_in_row, axis=1)