In [1]:
import sys
import os
sys.path.append(os.path.abspath('../'))

from src.utils import calculate_ranks, calculate_ranks_multi, keep_highest_accuracy

In [2]:
results_location = '../data/results'

In [3]:
df_filtered = keep_highest_accuracy(f'{results_location}/clutad/clutad_results.json',
                     f'{results_location}/clutad/clutad_results_filtered.json')

In [ ]:
df = calculate_ranks(f'{results_location}/original_results/og_acc_results.json',
                     f'{results_location}/clutad/clutad_results_filtered.json',
                     'accuracy',
                     'CluTaD',
                     f'{results_location}/final/detailed_acc_results.json')

In [ ]:
df = calculate_ranks_multi(
    f'{results_location}/original_results/og_acc_results.json',
    extras=[
        (f'{results_location}/clutad0/clusterddpm_results_filtered.json', 'accuracy', 'ClusterDDPM'),
        (f'{results_location}/clutad/clutad_results_filtered.json', 'accuracy', 'CluTaD')
    ],
    output_path=f'{results_location}/final/detailed_acc_results.json'
)

In [ ]:
def highlight_max_in_row(row):
    # if we're in the last 3 rows → return no styling
    if row.name >= len(df) - 3:
        return [''] * len(row)
    
    styles = [''] * len(row)
    numeric_part = row.iloc[1:]          # skip first column
    max_val = numeric_part.max()
    
    # highlight all equal max values
    for i, val in enumerate(numeric_part, start=1):
        if val == max_val:
            styles[i] = 'background-color: yellow;'
    return styles

df.style.apply(highlight_max_in_row, axis=1)

In [7]:
df.drop(columns=['Data set ID']).round(1).rank(axis=1, ascending=False, method="min")

,K-means(X),GMM(X),K-means(Z),GMM(Z),DEC,IDEC,DEPICT,DynAE,DCN,AE-CM,DKM,G-CEALS,ClusterDDPM,CluTaD
0,2.0,2.0,11.0,10.0,12.0,13.0,14.0,7.0,2.0,5.0,5.0,1.0,7.0,7.0
1,13.0,12.0,9.0,6.0,9.0,11.0,14.0,7.0,5.0,1.0,8.0,4.0,1.0,1.0
2,9.0,4.0,7.0,10.0,8.0,6.0,5.0,14.0,12.0,13.0,11.0,1.0,3.0,1.0
3,11.0,14.0,6.0,6.0,12.0,13.0,10.0,6.0,9.0,1.0,4.0,5.0,2.0,2.0
4,12.0,7.0,8.0,5.0,11.0,8.0,6.0,10.0,4.0,14.0,13.0,2.0,3.0,1.0
5,9.0,14.0,2.0,3.0,4.0,5.0,6.0,6.0,13.0,10.0,8.0,1.0,12.0,10.0
6,7.0,9.0,11.0,8.0,9.0,11.0,13.0,4.0,3.0,14.0,6.0,5.0,2.0,1.0
7,3.0,2.0,6.0,5.0,8.0,7.0,9.0,1.0,12.0,14.0,10.0,4.0,13.0,11.0
8,8.0,13.0,6.0,7.0,9.0,9.0,14.0,11.0,4.0,1.0,12.0,4.0,1.0,1.0
9,9.0,13.0,8.0,10.0,11.0,12.0,14.0,5.0,5.0,1.0,1.0,7.0,1.0,1.0
10,8.0,9.0,7.0,9.0,12.0,13.0,14.0,11.0,5.0,1.0,4.0,6.0,2.0,2.0
11,8.0,12.0,9.0,5.0,1.0,3.0,9.0,13.0,11.0,7.0,14.0,2.0,6.0,4.0
12,6.0,9.0,10.0,8.0,13.0,12.0,14.0,3.0,5.0,3.0,11.0,7.0,1.0,1.0
13,10.0,10.0,12.0,9.0,12.0,12.0,7.0,6.0,4.0,2.0,8.0,5.0,1.0,2.0
14,10.0,12.0,5.0,4.0,8.0,7.0,13.0,2.0,11.0,13.0,6.0,9.0,3.0,1.0
15,8.0,13.0,1.0,12.0,9.0,10.0,14.0,11.0,4.0,4.0,1.0,3.0,6.0,6.0
16,5.0,2.0,7.0,9.0,4.0,3.0,1.0,8.0,10.0,11.0,6.0,13.0,12.0,14.0
17,12.0,2.0,9.0,13.0,9.0,9.0,7.0,2.0,6.0,1.0,4.0,14.0,5.0,7.0
18,5.0,2.0,7.0,9.0,4.0,3.0,1.0,8.0,10.0,11.0,6.0,13.0,12.0,14.0

In [ ]:
df_ari = calculate_ranks_multi(
    f'{results_location}/original_results/og_ari_results.json',
    extras=[
        (f'{results_location}/clutad0/clusterddpm_results_filtered.json', 'ari', 'ClusterDDPM'),
        (f'{results_location}/clutad/clutad_results_filtered.json', 'ari', 'CluTaD')
    ],
    output_path=f'{results_location}/final/detailed_ari_results.json'
)

In [9]:
df_ari.style.apply(highlight_max_in_row, axis=1)